<ui-view>
    <!-- main content -->
      <main class="">

          <search-directive></search-directive>
          
          <!-- MAP lives in lealet tags.  --> 
          <leaflet lf-center="currentLoc" markers="markers" tiles="tiles" defaults="defaults" width="100%" height="480px"></leaflet>

          <div class="" style="text-align: center">
            <h1>Awesome Events</h1>
          </div>

          <div class='md-padding' layout="row" ng-controller="CardController" style="text-align: center; padding: 16px 90px 16px 70px;">
            <div layout="row" flex layout-wrap >
              <div class="parent" layout="column" ng-repeat="event in events" flex="33" flex-sm="50" flex-xs="100" layout-wrap style="margin-bottom:40px">

                <!-- CARDS GO HERE -->
                <card-directive ></card-directive>

              </div>
            </div>
          </div>

      </main>
    </div>

</ui-view>