<!-- navigation -->
<div class="mdl-layout mdl-js-layout">
<!-- main content -->

 <!--  <main class="mdl-layout__content">
    <div layout="row" style="background:lightpink; height: 500px">
      <div class="">
        <div class="user-block">
        	<div class="user-avatar">
        	</div>
        	<div class="user-text">
        		<div class="username">
        		<p><b>{{user}}</b></p>
            

        		</div>            		
        		<div class="user-description">
        			<b>About Me</b>
        			<p>Hello, this is a description of this user. This is an optional field, I guess. Below will be a rating.</p>
        		</div>
        		<div class="user-location">
        			<b>Location</b>
        			<p>Hack Reactor NY</p>
              <p><b>{{user.data.user.user}}</b></p>
              <p><img ng-src="{{user.data.user.picture}}"</p>
        		</div>
        		<div class="user-rating">
        			<b>Rating</b>
        			<p>&#x2605 &#x2605 &#x2605 &#x2605</p>
        		</div>
        	</div>
        </div>
      </div>
    </div>
  </main>

 -->
  <main class="mdl-layout__tab-panel is-active">
    <div class="mdl-layout__tab-panel is-active" id="overview" style="background: whitesmoke">

      <!-- EVENT TITLE -->
      <!--       
      <section class="section--center mdl-grid">
        <h1 style="margin: 0">Puppies in Central Park</h1>
      </section>
      -->

      <!-- MAIN PROFILE -->
      <section class="section--center mdl-grid mdl-grid--no-spacing event-block-container" style="">

        <!-- PROFILE PHOTO and stuff -->
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp event-block-right" style="max-width:500px" >
          <div style="padding: 20px;">
            <div class="mdl-card__supporting-text event-details">
              <div class="user-profile" style="width:100%; background:black">
                <img ng-src="{{user.data.user.facebook.picture.data.url}}"/>
              </div>
              <br/>
              <span>School</span>
              <p>Hack Reactor, NY</p>

              <span>Work</span>
              <p>bidyourtime</p>

            </div>
            <!-- 
            <div class="mdl-card__actions">
              <a href="#" class="mdl-button">Read our features</a>
            </div>
             -->
          </div>
        </section>

        <!-- PROFILE DESCRIPTION AND REVIEWS-->
        <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp event-block-left" style="max-width:800px" >
          <div class="mdl-cell mdl-cell--12-col" style="padding: 20px 0;width: 100%;">
            <div class="mdl-card__supporting-text event-details">

              <!-- TEST API -->
              <!-- 
              <p><b>{{user}}</b></p>
               -->
              <div class="mdl-card__supporting-text event-details" style="padding-top: 0">
                <h2 style="margin-top: 0"><b>Hello, I'm {{user.data.user.user}}</b></h2>
                <h4><b>New York, NY</b></h4>
                <span>Description</span>
                <p>I like green eggs and ham! I do! I like them, Sam-I-am! And I would eat them in a boat! And I would eat them with a goat. And I will eat them in the rain. And in the dark. And on a train. And in a car. And in a tree. They are so good so good you see!</p>
              </div>

            </div>
          </div>

          <!-- REVIEWS -->

          <section class="section--center mdl-grid mdl-grid--no-spacing mdl-shadow--2dp">
            <div class="mdl-card mdl-cell mdl-cell--12-col">
              <div class="mdl-card__supporting-text mdl-grid mdl-grid--no-spacing">

                <!-- COMMENT TITLE -->
                <div class="mdl-cell mdl-cell--12-col">
                  <h4 class=""><b>Reviews</b></h4>
                  <div class="rating">
                    <span>Rating</span>
                    <p>&#x2605 &#x2605 &#x2605 &#x2605</p><br/>
                  </div>
                </div>

                <!-- ACTUAL COMMENTS  -->

                <!-- COMMENT 1 -->
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">
                  <div class="section__circle-container__circle mdl-color--primary" style="background:url('{{ user.data.user.picture }}'); background-size:cover;"></div>
                </div>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone event-details">
                  <p>{{user.data.user.user}}</p>

                  <p>Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation nostrud quis</p>

                  <div class="rating">
                    <p>&#x2605 &#x2605 &#x2605 &#x2605</p><br/>
                  </div>
                </div>

                <!-- COMMENT 2 -->
                <div class="section__circle-container mdl-cell mdl-cell--2-col mdl-cell--1-col-phone">

                  <div class="section__circle-container__circle mdl-color--primary" style="background:url('{{ user.data.user.picture }}'); background-size:cover;">
                  </div>

                </div>
                <div class="section__text mdl-cell mdl-cell--10-col-desktop mdl-cell--6-col-tablet mdl-cell--3-col-phone event-details">
                  <p>{{user.data.user.user}}</p>
                  <p>Dolore ex deserunt aute fugiat aute nulla ea sunt aliqua nisi cupidatat eu. Duis nulla tempor do aute et eiusmod velit exercitation nostrud quis</p>

                  <div class="rating">
                    <p>&#x2605 &#x2605 &#x2605 &#x2605</p><br/>
                  </div>
                </div>

              </div>
              <div class="mdl-card__actions">
                <a href="#" class="mdl-button">Add Comment</a>
              </div>

            </div>
            <button class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon" id="btn2">
              <i class="material-icons">more_vert</i>
            </button>
            <ul class="mdl-menu mdl-js-menu mdl-menu--bottom-right" for="btn2">
              <li class="mdl-menu__item">Lorem</li>
              <li class="mdl-menu__item" disabled>Ipsum</li>
              <li class="mdl-menu__item">Dolor</li>
            </ul>
          </section>



          </section>


          <main class="mdl-layout__content">
          <div class="mdl-layout__header-row">
            <span class="mdl-layout__title">Awesome Events</span>
          </div>
            <div layout="row" style="">
              <!-- card 1 -->
              <card-directive></card-directive>
            </div>
          </main>
        </section>

      


    </div>
  </main>



</div>