<ui-view>
    <!-- main content -->
      <main class="mdl-layout__content">
        <div layout="row" style="background:#e4e4e4;">
    <!-- form -->
          </br>
          <div class="mdl-layout__header-row">
            <span class="mdl-layout__title">Create Event</span>
            <div class="mdl-layout-spacer"></div>
          </div>


          <div class="page-content" style="padding: 0 40px 0 80px;">
            <create-directive> </create-directive>
          </div>


        </div>

        <div class="mdl-layout__header-row">
          <span class="mdl-layout__title">Awesome Events</span>
        </div>
        <!-- spacer -->
        <div class="mdl-layout-spacer"></div>

        <div layout="row" style="padding: 0 70px 0 70px;">

          <!-- card 1 -->
          <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text event-title">Puppies</h2>
            </div>
            <div class="mdl-card__supporting-text">
              <p class=""><b>Host:</b></span><span class="event-detail event-host">Username</span></p>
              <p class=""><b>Time Left:</b></span><span class="event-detail time-left">2hrs</span></p>
              <p class=""><b>Cost:</b></span><span class="event-detail event-cost">FREE</span></p>
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect details-button">
                More Details
              </a>
              <button class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored mdl-js-ripple-effect join-button" data-mdc-auto-init="MDCRipple">Join Now</button>
            </div>
          </div>        

          <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">Update</h2>
            </div>
            <div class="mdl-card__supporting-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aenan convallis.
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                View Details
              </a>
            </div>
          </div>

          <div class="demo-card-square mdl-card mdl-shadow--2dp">
            <div class="mdl-card__title mdl-card--expand">
              <h2 class="mdl-card__title-text">Update</h2>
            </div>
            <div class="mdl-card__supporting-text">
              Lorem ipsum dolor sit amet, consectetur adipiscing elit.
              Aenan convallis.
            </div>
            <div class="mdl-card__actions mdl-card--border">
              <a class="mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect">
                View Updates
              </a>
            </div>
          </div>
        </div>

        <div layout="row" style="padding: 0 70px 0 70px; height: 300px">
        </div>
      </main>
    </div>

</ui-view>