<ui-view>
    <!-- main content -->
      <main class="mdl-layout__content">
        <div layout="row" style="background:#e4e4e4;">
    <!-- form -->
          </br>
          <div class="mdl-layout__header-row">
            <span class="mdl-layout__title">Create Event</span>
            <div class="mdl-layout-spacer"></div>
          </div>


          <div class="page-content" style="padding: 0 40px 0 80px;">
            <create-directive> </create-directive>
          </div>


        </div>
        {{currentLoc}}
        <leaflet lf-center="currentLoc" tiles="tiles" width="100%" height="480px"></leaflet>
        <div class="mdl-layout__header-row">
          <span class="mdl-layout__title">Awesome Events</span>
        </div>
        <!-- spacer -->
        <div class="mdl-layout-spacer"></div>

        <div layout="row" style="padding: 0 70px 0 70px;">

          <!-- card 1 -->
          <card-directive></card-directive>
     
        </div>

        <div layout="row" style="padding: 0 70px 0 70px; height: 300px">
        </div>
      </main>
    </div>

</ui-view>