<div class="login-group">
  <div class="div-padding"></div>
	<div class="snippet-demo-container login-form" style="">
      <h1 class="logo" style="font-size: 3em!important">bid-your-time</h1>
      <p>what's your time worth?</p>
	  <form>
		</br>Social Login:</br></br>
		<ul>
		  <li><a href="/auth/facebook" target="_self">Login with Facebook</a></li>
		  <li><a href="https://github.com/Rec-Rac/recrac">View Github</a></li>
		</ul>
		<br/><br/>
	  </form>
	</div>
  <div class="div-padding"></div>
</div>
