<!-- <div class="mdl-layout mdl-js-layout"> -->

  <header class="custom-nav" style="background: rgb(63,81,181);">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title logo" style="color:white">bid-your-time</span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation -->
      <nav class="mdl-navigation">
        <a class="mdl-navigation__link home-link" ui-sref="app.home">Home</a>
        <a class="mdl-navigation__link dashboard-link" ui-sref="app.dash">Dashboard</a>
        <a class="mdl-navigation__link dashboard-link" ui-sref="app.event">Event</a>
        <a class="mdl-navigation__link dashboard-link" ui-sref="login">Login</a>
        <a class="mdl-navigation__link dashboard-link" href="">Logout</a>
      </nav>
    </div>
  </header>
<!-- left menu -->
  <div class="mdl-layout__drawer">
    <span class="mdl-layout-title logo">bid-your-time</span>
    <nav class="mdl-navigation">
      <a class="mdl-navigation__link home-link" ui-sref="app.home">Home</a>
      <a class="mdl-navigation__link dashboard-link" ui-sref="app.dash">Dashboard</a>
      <a class="mdl-navigation__link dashboard-link" href="">Logout</a>
    </nav>
  </div>
  
<!-- </div> -->