<div layout="row" style="background:#e4e4e4;">
  <div class="search-box" style="min-height: 155px;">

    <div style="text-align: center">
      <span class="mdl-layout__title">Search Event</span>
      <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" style="width: 100%" id="">
      </div>
     
      <div>
        <div>
          <md-checkbox  ng-repeat="filter in filters" ng-model="filterObj[filter]">
            {{filter}}
          </md-checkbox>
        </div>
    </div>
  </div>
</div>